@font-face {
    font-family: Product Sans;
    src: url(Assets/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: Product Sans B;
    src: url(Assets/Product\ Sans\ Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

html, body{
    width: 100%;
    height: 100vh;
}

body{
    scrollbar-width: none;
}

#main{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 94, 0);
}

nav{
    display: flex;
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 10vh;
    padding: 0 10vw;
    align-items: center;
    justify-content: space-between;
}

a, i{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.cntr-nav{
    gap: 45px;
    display: flex;
}

.ri-menu-line{
    display: flex;
    color:#fff;
    width: 28px;
    margin-right: 10%;
    cursor:pointer;
    
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0))
}

.one h1{
    color: #fff;
    font-size: 25vw;
}

#orange-out{
    position: absolute;
    top: 30%;
    left: 31%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#fanta{
    position: absolute;
    width: 38%;
    top: 35%;
    left: 28%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#orange{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 68%;
    right: 26%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf{
    position: absolute;
    width: 18%;
    left: 11%;
    top: 23%;
    transform: rotate(61deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf2{
    position: absolute;
    width: 12%;
    top: 75%;
    left: 70%;
    transform: rotate(-60deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#leaf3{
    position: absolute;
    width: 20%;
    top: -3%;
    right: 0%;
}

.two{
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: #4d231c;
}

.lft-two, .rght-two{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.lft-two svg{
    margin-top: 50vh;
    width: 90%;
    transform: rotate(50deg);
}

.rght-two h1{
    color: #fff;
    font-size: 5vw;
}

.rght-two p{
    color: #fff;
    font-size: 1vw;
    width: 80%;
}

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    gap: 5vh;
    background:linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.card{
    position: relative;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 25vw;
    height: 80vh;
    margin-top: 10vh;
    background-color: #fff;
    border: 2px  rgb(255, 94, 0) solid;
}

.card h1{
    margin-top: 40vh;
    font-size: 3vw;
    margin-top: 90%;
}

.card button{
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 149, 0);
    color: #fff;
    font-size: 1vw;
    padding: 1vw 2vw;
}

#cocacola{
    top: -15%;
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

#pepsi{
    top: -19%;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.lemon{
    top: -30%;
    position: absolute;
    width: 25vw;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}